---
import type { SiteConfig } from '../types';
import { SITE_CONFIG } from '../data/site';

const props: SiteConfig = {
	title: Astro.props.title || SITE_CONFIG.title,
	description: Astro.props.description || SITE_CONFIG.description,
	image: Astro.props.image || SITE_CONFIG.image,
	url: SITE_CONFIG.url + Astro.url.pathname,
	author: SITE_CONFIG.author,
	keywords: SITE_CONFIG.keywords,
	theme: SITE_CONFIG.theme
};
---

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="generator" content={Astro.generator} />
	<meta name="description" content={props.description} />
	<meta name="keywords" content={props.keywords.join(', ')} />
	<title>{props.title}</title>
	<link rel="canonical" href={props.url} />
	<meta name="theme-color" content="#ffffff" />
	<meta name="author" content={props.author} />
	
	{props.image && (
		<meta property="og:image" content={props.image} />
	)}
	<meta property="og:title" content={props.title} />
	<meta property="og:description" content={props.description} />
	<meta property="og:type" content="website" />
	<meta property="og:url" content={props.url} />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content={props.title} />
	<meta name="twitter:description" content={props.description} />

	<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
	<link rel="preload" href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500;600&display=swap") as="style">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500;600&display=swap'>
</head>
