---
import { SITE_CONFIG } from "@/data/site";

export interface HeadProps {
  title: string;
}

const { title = "" } = Astro.props as HeadProps;
---

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KQMVWVGNH5"
  ></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag(...args) {
      window.dataLayer.push(args);
    }

    gtag("js", new Date());
    gtag("config", "G-KQMVWVGNH5");
  </script>

  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, viewport-fit=cover"
  />
  <meta name="generator" content={Astro.generator} />
  <meta name="description" content={SITE_CONFIG.description} />
  <meta name="keywords" content={SITE_CONFIG.keywords.join(", ")} />
  <meta name="author" content={SITE_CONFIG.author} />

  <meta property="og:image" content={SITE_CONFIG.image} />
  <meta property="og:title" content={SITE_CONFIG.title} />
  <meta property="og:description" content={SITE_CONFIG.description} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content={SITE_CONFIG.url} />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={SITE_CONFIG.title} />
  <meta name="twitter:description" content={SITE_CONFIG.description} />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <title>
    {title ? `${title} | ${SITE_CONFIG.title} ` : SITE_CONFIG.title}
  </title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Mono:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
  />
</head>
