---
import Navigation from "@/components/Navigation.astro";
import Head from "@/components/Head.astro";
import Footer from "@/components/Footer.astro";
import "@/styles/global.css";
import "@/styles/layouts/layout.css";
import { SITE_CONFIG } from "@/data/site";
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "@/utils/i18n";

export interface Breadcrumb {
  text: string;
  url?: string;
}

export interface LayoutProps {
  page: Breadcrumb[];
  title: string;
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
const { page = [], title = "" } = Astro.props as LayoutProps;
---

<!doctype html>
<html lang={lang}>
  <Head title={title} />
  <body class="container">
    <a href="#content" class="skip-to-content button button-primary">
      Skip to main content
    </a>
    <Navigation />
    <main class="content">
      <div class="content-header">
        <div>
          <a href={translatePath("/")}>{t("header.portfolio")}</a>
          {
            page.map((p) => (
              <>
                {" / "}
                {p.url ? <a href={translatePath(p.url)}>{p.text}</a> : p.text}
              </>
            ))
          }
        </div>
        <div>
          {SITE_CONFIG.version}
        </div>
      </div>
      <div class="content-container" id="content">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
