---
import Navigation from '../components/Navigation.astro';
import Head from '../components/Head.astro';
import '../styles/global.css';
import '../styles/layouts/layout.css';

interface Props {
	siteTitle?: string;
	description?: string;
	image?: string;
}

const { siteTitle = "Yanuar Wanda", description, image } = Astro.props;

const navItems = [
	{
		text: "About",
		href: "/"
	},
	{
		text: "Projects",
		href: "/projects"
	},
	{
		text: "Blogs",
		href: "/blogs"
	}
];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap" rel="stylesheet">
		<Head title={siteTitle} description={description} image={image} />
	</head>
	<body>
		<div class="container">
			<Navigation navItems={navItems} />
			<main class="content">
				<slot />
			</main>
		</div>
	</body>
</html>
